.page_index
  .todo-main
    text-align center
    .date-pannel
      padding 50px
.todo-add-btn
  position fixed
  right 40px
  bottom: 150px
.addPanel-title
  padding-top 20px
  text-align center
.addPanel-btn
  padding 0 20px 20px
  .addPanel-btn-cancel
    float left
    width 45%
  .addPanel-btn-confirm
    float right
    width: 45%
.clearfix
	zoom 1
.clearfix:before, .clearfix:after
  content " "
  display table
.clearfix:after
  clear both
  visibility hidden
  font-size 0
  height 0
